<option value="<%= region.name %>" data-base_url="<%= region.valid_endpoints[0] %>" data-ssl_available="<%= region.ssl_available%>">
    <%= region.name %>&nbsp;&gt;&nbsp;<%= region.description %>
</option>